$white: #FFFFFF;
$white-transparent: #FFFFFF12;
$creamy-latte: #E5DDD4;
$yellow: #F4BC49;
$yellow-hovered: #f4b049;
$tellow-transparent-20: #F4BC4933;
$black-chocolate: #312F2E;
$grey: #919191;
$red: #FF4E4E;
$brown-gradient: linear-gradient(114deg, #2B251F 15.18%, #484236 96.04%);