@import 'functions';
@import 'colors';
@import 'mixins';

.pagination {
  &__list {
    font-weight: 700;
    li {
      display: inline-block;

      &+li {
        margin-left: 6px;
      }
    }

    a,
    span {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      color: $grey-smog;

      &.active {
        color: $white;
      }

    }
    a{
      .pagination__btn-next,
      .pagination__btn-prev{
        width: 30px;
      }
    }
    img{
      width: 100%;
    }

  }


  
}