.icon-svg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-svg-btn-arrow-right {
	font-size:calc((11/10)*1rem);
	width:calc((32/11)*1em);
}
.icon-svg-cannula {
	font-size:calc((59/10)*1rem);
	width:calc((61/59)*1em);
}
.icon-svg-dentist-tools {
	font-size:calc((59/10)*1rem);
	width:calc((45/59)*1em);
}
.icon-svg-play-rounded {
	font-size:calc((30/10)*1rem);
	width:calc((31/30)*1em);
}
.icon-svg-question {
	font-size:calc((24/10)*1rem);
	width:calc((24/24)*1em);
}
.icon-svg-shield {
	font-size:calc((59/10)*1rem);
	width:calc((45/59)*1em);
}
.icon-svg-tooth-guarantie {
	font-size:calc((59/10)*1rem);
	width:calc((59/59)*1em);
}
.icon-svg-up-arrow {
	font-size:calc((12/10)*1rem);
	width:calc((16/12)*1em);
}
