@import "mixins";

// Project fonts.

@font-face {
	font-family: 'DIN Pro';
	src: url('../font/DINPro-Medium.eot');
	src: local('DIN Pro Medium'), local('../font/DINPro-Medium'),
		url('../font/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../font/DINPro-Medium.woff') format('woff'),
		url('../font/DINPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../font/DINPro-BlackItalic.eot');
	src: local('DIN Pro Black Italic'), local('../font/DINPro-BlackItalic'),
		url('../font/DINPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../font/DINPro-BlackItalic.woff') format('woff'),
		url('../font/DINPro-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../font/DINPro-MediumItalic.eot');
	src: local('DIN Pro Medium Italic'), local('../font/DINPro-MediumItalic'),
		url('../font/DINPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../font/DINPro-MediumItalic.woff') format('woff'),
		url('../font/DINPro-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../font/DINPro-Bold.eot');
	src: local('DIN Pro Bold'), local('../font/DINPro-Bold'),
		url('../font/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/DINPro-Bold.woff') format('woff'),
		url('../font/DINPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../font/DINPro-Light.eot');
	src: local('DIN Pro Light'), local('../font/DINPro-Light'),
		url('../font/DINPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../font/DINPro-Light.woff') format('woff'),
		url('../font/DINPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../font/DINPro-Italic.eot');
	src: local('DIN Pro Italic'), local('../font/DINPro-Italic'),
		url('../font/DINPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('../font/DINPro-Italic.woff') format('woff'),
		url('../font/DINPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../font/DINPro.eot');
	src: local('DIN Pro'), local('../font/DINPro'),
		url('../font/DINPro.eot?#iefix') format('embedded-opentype'),
		url('../font/DINPro.woff') format('woff'),
		url('../font/DINPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../font/DINPro-Black.eot');
	src: local('DIN Pro Black'), local('../font/DINPro-Black'),
		url('../font/DINPro-Black.eot?#iefix') format('embedded-opentype'),
		url('../font/DINPro-Black.woff') format('woff'),
		url('../font/DINPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../font/DINPro-LightItalic.eot');
	src: local('DIN Pro Light Italic'), local('../font/DINPro-LightItalic'),
		url('../font/DINPro-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../font/DINPro-LightItalic.woff') format('woff'),
		url('../font/DINPro-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Pro';
	src: url('../font/DINPro-BoldItalic.eot');
	src: local('DIN Pro Bold Italic'), local('../font/DINPro-BoldItalic'),
		url('../font/DINPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../font/DINPro-BoldItalic.woff') format('woff'),
		url('../font/DINPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}



// Typography.

h1,
h2,
h3,
h4,
h5 {
    font-style: normal;
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: pxToRem(36px);
    line-height: pxToRem(38px);

    @media screen and (max-width: 991px) {
        font-size: pxToRem(28px);
        line-height: pxToRem(34px);
    }

    @media screen and (max-width: 539px) {
        font-size: pxToRem(22px);
        line-height: pxToRem(24px);
    }
}

h2 {
    font-size: pxToRem(36px);
    line-height: pxToRem(38px);

    @media screen and (max-width: 991px) {
        font-size: pxToRem(28px);
        line-height: pxToRem(34px);
    }

    @media screen and (max-width: 539px) {
        font-size: pxToRem(22px);
        line-height: pxToRem(24px);
    }
}

h3 {
    font-size: pxToRem(26px);
    line-height: pxToRem(38px);

    @media screen and (max-width: 991px) {
        font-size: pxToRem(18px);
        line-height: pxToRem(20px);
    }

    @media screen and (max-width: 539px) {
        font-size: pxToRem(14px);
        line-height: pxToRem(16px);
    }
}

h4 {
    font-size: pxToRem(20px);
    line-height: pxToRem(24px);

    @media screen and (max-width: 991px) {
        font-size: pxToRem(16px);
        line-height: pxToRem(24px);
    }

    @media screen and (max-width: 539px) {
        font-size: pxToRem(14px);
        line-height: pxToRem(16px);
    }
}

h5 {
    font-size: pxToRem(16px);
    line-height: pxToRem(20px);
}

.subheading {
    font-size: pxToRem(14px);
    line-height: pxToRem(24px);

    @media screen and (max-width: 991px) {
        font-size: pxToRem(12px);
        line-height: pxToRem(20px);
    }
}

.heading {
    &__home-hero {
        @include font-48;
    }

    &__sub {
        // @include font-btn;
    }
}

.block {
    &__shortly-about__text {
        font-weight: bold;
        font-size: pxToRem(26px);
        line-height: pxToRem(38px);

        @media screen and (max-width: 991px) {
            font-size: pxToRem(18px);
            line-height: pxToRem(28px);
        }

        @media screen and (max-width: 539px) {
            font-size: pxToRem(14px);
            line-height: pxToRem(18px);
        }
    }
}